@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6; 
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}


body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #776B5D;
    color: #F3EEEA; 
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: #EBE3D5;
    text-decoration: none;

}

.cabecalho__menu__link:hover {
    color: #007bff;
}

.titulo-destaque {
    color: var(--cor-terciaria)
    
}

.destaque-da-pronuncia{
    color: rgba(219, 243, 88, 0.906);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    /* margin: 10% 25%; */

}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    text-align: left;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}



.apresentacao__conteudo__texto {
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 100;
    

}



.apresentacao__links {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    /*background-color: #22D4FD;*/
   display: flex;
   justify-content: center;
   gap: 16px;
    border: 2px solid #EBE3D5;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;

}

.apresentacao__links__link:hover {
    cursor: pointer;
    border-color: #fdb0c2;
    background-color: var(--cor-hover);
    color: rgb(248, 238, 144);
    

}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: #B0A695;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;

}

@media (max-width:1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}
